services:
  db:
    container_name: news_app_db
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=news_app
    ports:
      - '5433:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: news_app_pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=password
    ports:
      - '5050:80'
    depends_on:
      - db

  redis:
    image: redis:latest
    container_name: news_app_redis
    restart: always
    ports:
      - '6380:6379'
    volumes:
      - redis_data:/data

  mailhog:
    image: mailhog/mailhog
    platform: linux/amd64
    container_name: news_app_mailhog
    restart: always
    ports:
      - '1026:1025'
      - '8026:8025'

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: news_app_rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
    ports:
      - '5673:5672' # AMQP protocol
      - '15673:15672' # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:
