REDIS_URL=redis://localhost:6380
# Queue Names 
INSTAGRAM_FETCHER_QUEUE=sources.instagram-fetcher
FETCH_RESULTS_QUEUE=sources.fetch-results

# Instaloader Configuration
INSTAGRAM_SESSION_PATH=sessions

# Delay between requests in seconds
INSTAGRAM_RATE_LIMIT_DELAY=1.0

# Whether to download videos
INSTAGRAM_DOWNLOAD_VIDEOS=false

# Whether to download pictures 
INSTAGRAM_DOWNLOAD_PICTURES=false

# Worker Configuration
WORKER_CONCURRENCY=1

#S3
S3_ENDPOINT=http://localhost:9001
S3_ACCESS_KEY=admin
S3_SECRET_KEY=password
S3_BUCKET=news-app-media
S3_REGION=us-east-1

